
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<!DOCTYPE html>
<html lang="en">
<body>
   



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">

      

    <img id="logoholder" src="~/Content/Logo.jpg" />

  

    <a href="@Url.Action("NewUser", "Home")">
        <button id="loginbutton" type="button" class="btn btn-primary">Login/Sign Up</button>
    </a>
            <div id="first-slider">
                <div id="carousel-example-generic" class="carousel slide carousel-fade">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        
                        <!-- Item 1 -->
                        <div class="item active slide1">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-3 text-right">
                                        <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                                    </div>
                                    <div class="col-md-12 text-left">
                                        <h3 class="outline" data-animation="animated bounceInDown">Host Tournaments online</h3>
                                        <h4 class="outline" data-animation="animated bounceInUp">And join anywhere</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Item 2 -->
                        <div class="item slide2">
                            <div class="row">
                                <div class="container">

                                    <div class="col-md-12 text-left">
                                        <h3  class="outline" data-animation="animated bounceInDown"> Create Custom Brackets</h3>
                                        <h4  class="outline" data-animation="animated bounceInUp">For any event</h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="~/Content/bracketIcon.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Item 3 -->
                        <div class="item slide3">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-12 text-left">
                                        <h3  class="outline" data-animation="animated bounceInDown">Create as a Host</h3>
                                        <h4  class="outline" data-animation="animated bounceInUp">Or Join as a user<h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="~/Content/user.png" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="item slide4">
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-12 text-left">
                                        <h3  class="outline" data-animation="animated bounceInDown">Powerful and fast</h3>
                                        <h4  class="outline" data-animation="animated bounceInUp">For Any Size Need</h4>
                                    </div>
                                    <div class="col-md-5 text-right">
                                        <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Item 4 -->

                    </div>
                    <!-- End Wrapper for slides-->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        
   
</body>
</html>